# Python virtual environments & system cache
.venv/
**/__pycache__/
*.pyc

# FastF1 telemetry local storage cache 
backend/.fastf1_cache/

# Next.js frontend dependencies & build outputs
frontend/node_modules/
frontend/.next/
